*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e7ff;
    color: #333;
    font-family: "Segoe UI", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    width: 100%;
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-app{
    background-color: linear-gradient(135deg, #3b82f6, #94a3b8);
    border-radius: 16px;
    padding: 24px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    color: white;
    margin-bottom: 10px;
}

#todo-title{
    color: #1e293b;
    text-align: center;
    margin-bottom: 16px;
}

.todo-form{
    display: flex;
    gap: 10px;
    margin-bottom: 16px;

}

#todo-input{
    flex: 1;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

#todo-button{
    background-color: #1e40af;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#todo-button:hover{
    background-color: #3b82f6;
    color: #333;

}

.todo-list ul{
    list-style: none;
}

.todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    padding: 14px 18px;
    margin-bottom: 10px;
    color: #333; /* biru muda / putih kebiruan */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  .todo-list li:hover {
      transform: scale(1.01);
  }


.habit-check{
    margin-right: 8px;
    transform: scale(1.2);
    cursor: pointer;
}

#task-text {
    flex-grow: 1;
    margin-right: 8px;
    word-break: break-word;
}

.done{
    text-decoration: line-through;
    opacity: 0.6;
}

.del-btn {
    background-color: #ef4444;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.del-btn:hover {
    background-color: #dc2626;
    color: #333;
}

.footer{ 
    background-color: #1e293b;
    color: white;
    padding: 16px;
    text-align: center;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    position: fixed;
    font-size: 14px;
}

@media (max-width: 600px) {
    .todo-appp{
        padding: 20px;
    }

    .todo-form {
        flex-direction: column;
    }

    #todo-button {
        width: 100%;
    }
}